.counter {
  margin: 5rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  padding: 1rem;
}

.counter h1 {
  font-weight: 700;
  font-size: 1rem;
}

.counter__value {
  font-size: 2rem;
  font-weight: 700;
  color: #4b00ad;
  margin: 2.5rem 0;
}

.counter__actions {
  margin-bottom: 1rem;
}

.counter__actions button {
  margin-right: 1rem;
}

.counter__actions button:last-of-type {
  margin: 0;
}

.counter__button {
  background: #4b00ad;
  color: #fff;
  border: 2px solid #4b00ad;
  border-radius: 0.3rem;
}

.counter__button:hover,
.counter__button:active {
  background: #5413a8;
  border-color: #5413a8;
}

.counter__button:focus {
  outline: none;
  background: #5413a8;
  border-color: #5413a8;
}
